asgiref==3.11.0
certifi==2026.2.25
charset-normalizer==3.4.7
Django==4.2.30
django-cors-headers==4.9.0
django-csp==4.0
django-filter==23.5
django-taggit==6.1.0
djangorestframework==3.17.1
gunicorn==25.3.0
idna==3.11
packaging==26.0
pillow==12.2.0
psycopg2-binary==2.9.12
requests==2.33.1
setuptools==80.9.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
wheel==0.45.1
